*.egg-info/
*.ipynb*
*.pyc
*.idea
*.tsv
*.docx
*.pdf
*.svg
*.csv
!t3co/resources/inputs/**/*.csv
!t3co/**/*.csv
*.xlsx
*.json
*.txt
!requirements.txt
!requirements-dev.txt
*.yaml
/.idea
/.ipynb_checkpoints
/__pycache__
/tco_results/*.csv
*.tar.gz
*.whl
*.log
*.Rdata
*.Rhistory
*venv*
*.DS_Store
/site
